body {
  background-color: #e5e5e5;
  font-family: "Montserrat", sans-serif;
}

.about-me-profession {
  font-size: 14px;
  color: black;
}

.main-section {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  margin: 40px auto;
}

.project-section_li {
  color: brown;
  font-size: 25px;
}

#firstElement {
  color: green;
}

.right-section {
  padding-left: 88px;
}

.about-me-section {
  background-color: red;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 50px;
}

.projects-sections {
  background-color: chocolate;
}

.work-experience-section {
  background-color: aqua;
}

/* Sidebar styles */

.sidebar-section {
  background-color: #1e2939;
  width: 370px;
}

.sidebar-section img {
  margin-top: 40px;
}

.sidebar-title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #ffffff;
}

.contacts-section,
.tech-skills-section,
.soft-skills-section {
  margin-left: 40px;
}

.contacts-section-type {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  margin-right: 10px;
}

.contacts-section-value {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  opacity: 0.7;
}

.sidebar-list{
  color: #FB6D3A;
  padding-left: 20px;
}

.sidebar-list span {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}

